body {
    text-align: center;
    background-color: rgba(76, 50, 26, 0.434);
}
.contact {
    display: flex;
    font: 1em sans-serif;
    text-align: center;
}
.name {
    margin: 100px 100px 100px 350px;
}
.contact ul li {
    list-style-type: none;
}
.foto {
    border-radius: 40%;
    width:250px ;
    height:250px ;
}
.logo {
    width: 50px;
    height: 30px;
}
.footer {
    display: flex;
    justify-content: space-around;
}
ul li {
    list-style-type: none;
}
.new {
    display: flex;
    font-size: 30px;
    background-color: rgba(108, 108, 223, 0.466);
    justify-content: space-around;
}
.footer {
    background-color:  rgba(108, 108, 223, 0.466);
    font-size: 30px;
}